<launch>
     <node name="duo3d" pkg="duo3d_driver" type="duo3d_driver" output="screen">
		<param name="frame_rate" value="30.0"/>
		<rosparam param="image_size">[752, 480]</rosparam>
		<param name="dense3d_license" value="N1MNL-JYLK7-JO9NE-6ZK6A-3TQ5Q"/>
		<param name="auto_exposure" value="true"/>
		<param name="vertical_flip" value="true"/>
		<param name="led" value="30"/>
    </node>
	<node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" args="--perspective-file $(find duo3d_driver)/launch/rqt/stereo_view.perspective"/>
</launch>
